extends ../node_modules/jade-bootstrap/_bootstrap

head
	title=title
	link(rel='stylesheet', href='/stylesheets/style.css')
block body
	+navbar("Colenso","dropdown_menu")
		+nav_item("/") Home  
			span
				+icon("home")
		+nav_item("/search") Search  
			span
				+icon("search")
		+nav_item("/add") Add  
			span
				+icon("plus")
		+nav_item("/history","active") History  
			span
				+icon("th-list")
	//h1 #{title}
	//p Welcome to #{title}. 
		//|We have an excellent collection of videos in stock for you.

	

	.container
		h1 #{title}

		.container
				
		//list group
		
		
		if(history[0]!=undefined)
			+list-group-custom()
				-
				each val in history
					+list-group-item(val,"")
						h4.list-group-item-heading=val

		else
			p(style="color:red;") The search history is empty :(