extends ../node_modules/jade-bootstrap/_bootstrap

head
	title=title
block body
	+navbar("Colenso","dropdown_menu")
		+nav_item("/") Home  
			span
				+icon("home")
		+nav_item("/search","active") Search  
			span
				+icon("search")
		+nav_item("/add") Add  
			span
				+icon("plus")
		
	h1 #{title}
	
	.container
		+a-btn-success("/search") Switch to Normal Searching
		br
		br

		//need to think of how to push search button next to input
		//need to know how to change the sizes of them.
		//NEED TO MAKE SEARCH QUERY WORK

		+panel-info("Title of document")
			p To find the title of the document, simply enter in the text box below
			p E.g. Hooker 

		form(action="/nestedSearch", method="get")
			input(type="text",name="title",placeholder="Enter title",value=titleInput)
			input(type="submit",value="search")
		
		h3 OR

		+panel-info("BaseX Query")
			p This is only for XQUERY / XPATH queries
			p The query results will return a path to the file(s) that match your query
			p The variable used MUST be $t
			p E.g. for $t in (//title) where matches($t,'hooker','i') 


		form(action="/search", method="get")
			input(type="text",name="Bquery",placeholder="Enter BaseX Query here", value=queryInput)
			input(type="submit",value="search")
		
		
		h3 OR
		
		+panel-info("Find text in Document")
			p Please input your text within quote marks ' '. 
			
			p Logic operators are replaced as follows:
			//p AND = ftand NOT = ftnot OR = ftor
			+table([],[["AND = ftand","NOT = ftnot","OR = ftor"]],"table-striped table-bordered")
			p E.g. 'hooker' ftand 'haast'

		form(action="/search", method="get")
			input(type="text",name="text",placeholder="Enter Text here", value=textInput)
			input(type="submit",value="search")
		
		br
		br

		if searchResult
			h3 Results
			+list-group-custom()
				-
				each val in searchResult
					+list-group-item(val,"")
						h4.list-group-item-heading=val	

		else
			br
			p(style="color:red;") There are  no results to display
		
		.container
		link(rel='stylesheet', href='/stylesheets/style.css')
